.sidebar{
    display: flex;
    flex-direction: column;
    flex:0.35;
}
.sidebar__header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right:1px solid lightgrey;
}
.sidebar__headerRight{
    display: flex;
    justify-content: space-between;
    min-width:10vw;
    align-items: center;
}
.sidebar__search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 20px;
}
.sidebar__searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    height: 30px;
    width: 100%;
    radius: 20px;
}
.sidebar__searchContainer > .MuiSvgIcon-root{
 color:gray;
 padding: 10px;
}
.sidebar__searchContainer > input{
    border:none;
    outline-width: 0;
    margin-left: 10px;
}
.sidebar__chats{
    flex: 1;
    background-color: white;
    overflow: scroll;
}